{% extends "base.html" %}

{% block title %}活動管理{% endblock %}

{% block activityButton %}
	<li class="active"><a href="/activity">活動管理</a></li>
{% endblock %}
{% block firebaseLinkButton %}
	<li><a href="https://console.firebase.google.com/project/push-notification-567ca/notification">推播管理</a></li>
{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">新增活動</h3>
		</div>
		<div class="panel-body">
			<font color="red"><h5>*必填</h5></font>
			<label>*活動名稱：<input type="text" id="nameAddInput"></input></label>
			<label>*活動內容：<input type="text" id="contentAddInput"></input></label><p></p>
			<label>*開始日期：<input type="date" id="startAddInput"></input></label>
			<label>*結束日期(需大或等於開始日期)：<input type="date" id="endAddInput"></input></label>
			<label>*清除日期(需大於結束日期)：<input type="date" id="deleteAddInput"></input></label>
			<button type="button" onclick="addNewActivity()" class="btn btn-default" id="addNewActivityBtn">新增</button>
		</div>
	</div>
	<div id="addAlert"></div>

	<div>
		<div id="statusChoose">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="javascript:void(0);" onclick="statusChoose('all');">全部<span class="badge" id="allSpan"></span></a></li>
				<li role="presentation"><a href="javascript:void(0);" onclick="statusChoose('processing');">進行中<span class="badge" id="processingSpan"></span></a></li>
				<li role="presentation"><a href="javascript:void(0);" onclick="statusChoose('scheduled');">已預定<span class="badge" id="scheduledSpan"></span></a></li>
				<li role="presentation"><a href="javascript:void(0);" onclick="statusChoose('ended');">已結束<span class="badge" id="endedSpan"></span></a></li>
				<li role="presentation"><a href="javascript:void(0);" onclick="statusChoose('deleted');">已清除<span class="badge" id="deletedSpan"></span></a></li>
			</ul>
		</div>
		<br>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">編輯區域</h3>
		</div>
		<div class="panel-body" id="updateActivityArea">
			請選擇資料以編輯。
		</div>
	</div>
	<div id="updateAlert"></div>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">活動列表</h3>
		</div>
		<table class="table table-hover" id="myTable">
			<thead>
		        <tr>
		          <th>活動名稱</th>
		          <th>活動內容</th>
		          <th>開始日期</th>
		          <th>結束日期</th>
		          <th>清除日期</th>
		          <th>編輯</th>
		        </tr>
		    </thead>
		</table>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://activity-a59ea.firebaseio.com/');

		getAllStatusNums();

		var today = new Date();
		/*var today_year = today.getFullYear(); //西元年份
		var today_month = today.getMonth()+1; //一年中的第幾月

		var today_date = today.getDate(); //一月份中的第幾天
		if(today_month < 10) {
			today_month = "0" + today_month;
		}
		if(today_date < 10) {
			today_date = "0" + today_date;
		}*/

		function getAllStatusNums() {
			myFirebaseRef.once("value", function(snapshot) {
		  		var childNum = snapshot.numChildren();
		  		document.getElementById("allSpan").innerHTML = childNum;
			});
			myFirebaseRef.once("value", function(snapshot) {
				var count = 0;
		  		var date = new Date();
		  		date.setDate(new Date().getDate()+1);
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
		  		var current = date_year+"-"+date_month+"-"+(date_date);
	  			myFirebaseRef.orderByChild("StartDate").startAt(current).on("child_added", function(snapshot, prevChildKey) {
					var activity = snapshot.val();
					count++;
					document.getElementById("scheduledSpan").innerHTML = count;
				});
			});
			myFirebaseRef.once("value", function(snapshot) {
				var count = 0;
				var date = new Date();
		  		date.setDate(new Date().getDate());
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
		  		var current = date_year+"-"+date_month+"-"+(date_date);
	  			myFirebaseRef.orderByChild("StartDate").on("child_added", function(snapshot, prevChildKey) {
					var activity = snapshot.val();
					if(((Date.parse(activity.EndDate)).valueOf() >= (Date.parse(current)).valueOf()) && ((Date.parse(activity.StartDate)).valueOf() <= (Date.parse(current)).valueOf())) {
						count++;
						document.getElementById("processingSpan").innerHTML = count;
					}	
				});
			});
			myFirebaseRef.once("value", function(snapshot) {
				var count = 0;
				var date = new Date();
		  		date.setDate(new Date().getDate()-1);
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
				var current = date_year+"-"+date_month+"-"+(date_date);
	  			myFirebaseRef.orderByChild("EndDate").endAt(current).on("child_added", function(snapshot, prevChildKey) {
					var activity = snapshot.val();
					if((Date.parse(activity.DeleteDate)).valueOf() > (Date.parse(current)).valueOf()) {
						count++;
						document.getElementById("endedSpan").innerHTML = count;
					}
				});
			});
			myFirebaseRef.once("value", function(snapshot) {
				var count = 0;
				var date = new Date();
		  		date.setDate(new Date().getDate()-1);
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
				var current = date_year+"-"+date_month+"-"+(date_date);
	  			myFirebaseRef.orderByChild("DeleteDate").endAt(current).on("child_added", function(snapshot, prevChildKey) {
					var activity = snapshot.val();
					count++;
					document.getElementById("deletedSpan").innerHTML = count;
				});
			});
		}

		function statusChoose(status) {
			document.getElementById("myTable").innerHTML = '<thead><tr><th>活動名稱</th><th>活動內容</th><th>開始日期</th><th>結束日期</th><th>清除日期</th><th>編輯</th></tr></thead><tbody></tbody>';
			if(status == "all") {
				document.getElementById("statusChoose").innerHTML = '<ul class="nav nav-tabs"><li role="presentation" class="active"><a href="javascript:void(0);" onclick="statusChoose(\'all\');">全部<span class="badge" id="allSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'processing\');">進行中<span class="badge" id="processingSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'scheduled\');">已預定<span class="badge" id="scheduledSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'ended\');">已結束<span class="badge" id="endedSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'deleted\');">已清除<span class="badge" id="deletedSpan"></span></a></li></ul>';
				getAllStatusNums();
				myFirebaseRef.once("value", function(snapshot) {
			  		var childNum = snapshot.numChildren();
		  			myFirebaseRef.orderByChild("StartDate").on("child_added", function(snapshot, prevChildKey) {
						var activity = snapshot.val();
						add_new_data(activity.Name, activity.Content, activity.StartDate, activity.EndDate, activity.DeleteDate, snapshot.key());
					});
				});
			}else if(status == "scheduled") {
				document.getElementById("statusChoose").innerHTML = '<ul class="nav nav-tabs"><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'all\');">全部<span class="badge" id="allSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'processing\');">進行中<span class="badge" id="processingSpan"></span></a></li><li role="presentation" class="active"><a href="javascript:void(0);" onclick="statusChoose(\'scheduled\');">已預定<span class="badge" id="scheduledSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'ended\');">已結束<span class="badge" id="endedSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'deleted\');">已清除<span class="badge" id="deletedSpan"></span></a></li></ul>';
				getAllStatusNums();
				var count = 0;
		  		var date = new Date();
		  		date.setDate(new Date().getDate()+1);
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
		  		var current = date_year+"-"+date_month+"-"+(date_date);	
				myFirebaseRef.once("value", function(snapshot) {
		  			myFirebaseRef.orderByChild("StartDate").startAt(current).on("child_added", function(snapshot, prevChildKey) {
						var activity = snapshot.val();
						add_new_data(activity.Name, activity.Content, activity.StartDate, activity.EndDate, activity.DeleteDate, snapshot.key());
					});
				});
			}else if(status == "processing") {
				document.getElementById("statusChoose").innerHTML = '<ul class="nav nav-tabs"><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'all\');">全部<span class="badge" id="allSpan"></span></a></li><li role="presentation" class="active"><a href="javascript:void(0);" onclick="statusChoose(\'processing\');">進行中<span class="badge" id="processingSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'scheduled\');">已預定<span class="badge" id="scheduledSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'ended\');">已結束<span class="badge" id="endedSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'deleted\');">已清除<span class="badge" id="deletedSpan"></span></a></li></ul>';
					getAllStatusNums();
		  		var count = 0;
				var date = new Date();
		  		date.setDate(new Date().getDate());
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
		  		var current = date_year+"-"+date_month+"-"+(date_date);
				myFirebaseRef.once("value", function(snapshot) {
		  			myFirebaseRef.orderByChild("StartDate").on("child_added", function(snapshot, prevChildKey) {
						var activity = snapshot.val();
						if(((Date.parse(activity.EndDate)).valueOf() >= (Date.parse(current)).valueOf()) && ((Date.parse(activity.StartDate)).valueOf() <= (Date.parse(current)).valueOf())) {
							add_new_data(activity.Name, activity.Content, activity.StartDate, activity.EndDate, activity.DeleteDate, snapshot.key());
						}	
					});
				});
			}else if(status == "ended") {
				document.getElementById("statusChoose").innerHTML = '<ul class="nav nav-tabs"><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'all\');">全部<span class="badge" id="allSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'processing\');">進行中<span class="badge" id="processingSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'scheduled\');">已預定<span class="badge" id="scheduledSpan"></span></a></li><li role="presentation" class="active"><a href="javascript:void(0);" onclick="statusChoose(\'ended\');">已結束<span class="badge" id="endedSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'deleted\');">已清除<span class="badge" id="deletedSpan"></span></a></li></ul>';
				getAllStatusNums();		
				var count = 0;
				var date = new Date();
		  		date.setDate(new Date().getDate()-1);
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
				var current = date_year+"-"+date_month+"-"+(date_date);
				myFirebaseRef.once("value", function(snapshot) {
		  			myFirebaseRef.orderByChild("EndDate").endAt(current).on("child_added", function(snapshot, prevChildKey) {
						var activity = snapshot.val();
						if((Date.parse(activity.DeleteDate)).valueOf() > (Date.parse(current)).valueOf()) {
							add_new_data(activity.Name, activity.Content, activity.StartDate, activity.EndDate, activity.DeleteDate, snapshot.key());
						}
					});
				});
			}else if(status == "deleted") {
				document.getElementById("statusChoose").innerHTML = '<ul class="nav nav-tabs"><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'all\');">全部<span class="badge" id="allSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'processing\');">進行中<span class="badge" id="processingSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'scheduled\');">已預定<span class="badge" id="scheduledSpan"></span></a></li><li role="presentation"><a href="javascript:void(0);" onclick="statusChoose(\'ended\');">已結束<span class="badge" id="endedSpan"></span></a></li><li role="presentation" class="active"><a href="javascript:void(0);" onclick="statusChoose(\'deleted\');">已清除<span class="badge" id="deletedSpan"></span></a></li></ul>';
				getAllStatusNums();
				var count = 0;
				var date = new Date();
		  		date.setDate(new Date().getDate()-1);
				var date_year = date.getFullYear(); //西元年份
				var date_month = date.getMonth()+1; //一年中的第幾月
				var date_date = date.getDate(); //一月份中的第幾天
				if(date_month < 10) {
					date_month = "0" + date_month;
				}
				if(date_date < 10) {
					date_date = "0" + date_date;
				}
				var current = date_year+"-"+date_month+"-"+(date_date);
				myFirebaseRef.once("value", function(snapshot) {
		  			myFirebaseRef.orderByChild("DeleteDate").endAt(current).on("child_added", function(snapshot, prevChildKey) {
						var activity = snapshot.val();
						add_new_data(activity.Name, activity.Content, activity.StartDate, activity.EndDate, activity.DeleteDate, snapshot.key());
					});
				});
			}
			
		}

		function beforeCheck(name, content, start, end, del, where) {
			if(name == "" || content == "" || start == "" || end == "" || del == "") {
				document.getElementById(where).innerHTML = '<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>警告！</strong>還有未填入的資料喔。</div>';
				return false;
			}else if((Date.parse(start)).valueOf() > (Date.parse(end)).valueOf()) {
				document.getElementById(where).innerHTML = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>錯誤！</strong>結束日期須大或等於開始日期。</div>';
				return false;
			}else if((Date.parse(end)).valueOf() >= (Date.parse(del)).valueOf()) {
				document.getElementById(where).innerHTML = '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>錯誤！</strong>清除日期須大於結束日期。</div>';
				return false;
			}else {
				document.getElementById(where).innerHTML = '';
				return true;
			}
		}

		function addNewActivity() {
			var name = $('#nameAddInput').val();
			var content = $('#contentAddInput').val();
			var startDate = document.getElementById('startAddInput').value;
			var endDate = document.getElementById('endAddInput').value;
			var deleteDate = document.getElementById('deleteAddInput').value;
			var check = beforeCheck(name, content, startDate, endDate, deleteDate, "addAlert");
			if (check) {
				var newAddActivity = myFirebaseRef.push({
					"Name": name,
					"Content": content,
					"StartDate": startDate,
					"EndDate": endDate,
					"DeleteDate": deleteDate
				});
				$('#nameAddInput').val("");
				$('#contentAddInput').val("");
				$('#startAddInput').val("");
				$('#endAddInput').val("");	
				$('#deleteAddInput').val("");
			}
		};

		myFirebaseRef.once("value", function(snapshot) {
	  		var childNum = snapshot.numChildren();
  			myFirebaseRef.orderByChild("StartDate").on("child_added", function(snapshot, prevChildKey) {
				var activity = snapshot.val();
				add_new_data(activity.Name, activity.Content, activity.StartDate, activity.EndDate, activity.DeleteDate, snapshot.key());
			});
		});

		function add_new_data(name, content, start, end, del, key) {
			//先取得目前的row數
			var num = document.getElementById("myTable").rows.length;
			//建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
			var Tr = document.getElementById("myTable").insertRow(-1);
			//建立新的td 而Tr.cells.length就是這個tr目前的td數
			var tag = checkDate(start, end, del);
			Td = Tr.insertCell(Tr.cells.length);
			//而這個就是要填入td中的innerHTML	
			Td.innerHTML=name + " " + tag;
			//這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=content;
			//這樣就好囉 記得td數目要一樣 不然會亂掉~
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=start;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=end;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=del;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML='<button type="button" class="btn btn-primary" onclick="updateActivity(' + "'" + key + "'" + ')">編輯</button> <button type="button" class="btn btn-danger" onclick="deleteActivity(' + "'" + key + "'" + ')">刪除</button>';
		}

		function checkDate(start, end, del) {
			today = new Date();
			start+=" 00:00:00";
			end+=" 23:59:59";
			del+=" 23:59:59";
			//today_year = today.getFullYear(); //西元年份
			//today_month = today.getMonth()+1; //一年中的第幾月
			//today_date = today.getDate(); //一月份中的第幾天
			//var CurrentDate = today_year+"-"+today_month+"-"+today_date;
			if (((Date.parse(start)).valueOf() <= (today).valueOf()) && (((Date.parse(end)).valueOf() >= (today).valueOf()))) {
				return '<span class="label label-primary">活動進行中</span>';
			}else if ((Date.parse(start)).valueOf() > (today).valueOf()) {
				return '<span class="label label-success">活動已預定</span>';
			}else if (((Date.parse(end)).valueOf() < (today).valueOf()) && ((Date.parse(del)).valueOf() <= (today).valueOf())) {
				return '<span class="label label-default">活動已清除</span>';
			}else if (((Date.parse(end)).valueOf() < (today).valueOf()) && ((Date.parse(del)).valueOf() > (today).valueOf())) {
				return '<span class="label label-warning">活動已結束</span>';
			}
			//<span class="label label-info">Info</span>
			//<span class="label label-danger">Danger</span>
		}

		function updateActivity(key) {
			var newFirebaseRef = new Firebase('hhttps://activity-a59ea.firebaseio.com/' + key);
			newFirebaseRef.once("value")
			  .then(function(snapshot) {
			    var name = snapshot.child("Name").val();
			    var content = snapshot.child("Content").val();
			    var start = snapshot.child("StartDate").val();
			    var end = snapshot.child("EndDate").val();
			    var del = snapshot.child("DeleteDate").val();
			    document.getElementById("updateActivityArea").innerHTML = '<font color="red"><h5>*必填</h5></font><label>*活動名稱：<input type="text" id="nameUpdate" value="' + name + '"></label><label>*活動內容：<input type="text" id="contentUpdate" value="' + content + '"></label><label>*開始日期：<input type="date" id="startUpdate" value="' + start + '"></label><label>*結束日期(需大或等於開始日期)：<input type="date" id="endUpdate" value="' + end + '"></label><label>*清除日期(需大於結束日期)：<input type="date" id="deleteUpdate" value="' + del + '"></label> <button type="button" class="btn btn-default" onclick="saveUpdatedActivity(' + "'" + key + "'" + ')">確認編輯</button>';
			  });
		}

		function saveUpdatedActivity(key){
			var newFirebaseRef = new Firebase('https://activity-a59ea.firebaseio.com/' + key);
			var name = $('#nameUpdate').val();
			var content = $('#contentUpdate').val();
			var startDate = document.getElementById('startUpdate').value;
			var endDate = document.getElementById('endUpdate').value;
			var deleteDate = document.getElementById('deleteUpdate').value;
			var check = beforeCheck(name, content, startDate, endDate, deleteDate, "updateAlert");
			if (check) {
				newFirebaseRef.update({
					"Name": name,
					"Content": content,
					"StartDate": startDate,
					"EndDate": endDate,
					"DeleteDate": deleteDate
				});
				window.location.reload();
			}
		}

		function deleteActivity(key) {
			var newFirebaseRef = new Firebase('https://activity-a59ea.firebaseio.com/' + key);
			newFirebaseRef.remove();
			window.location.reload();
		}
	</script>
{% endblock %}