{% extends "base.html" %}

{% block title %}優惠券管理{% endblock %}

{% block couponButton %}
	<li class="active"><a href="/coupon">優惠券管理</a></li>
{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">新增優惠券</h3>
		</div>
		<div class="panel-body">
			<label>優惠券名稱：<input type="text" id="nameAddInput"></input></label>
			<label>優惠券資訊：<input type="text" id="informationAddInput"></input></label>
			<label>相片(imgur後7碼，不含.jpg)：<input type="text" id="photoAddInput"></input></label>
			<label>價格：<input type="number" id="priceAddInput" placeholder="請輸入大於0的整數" min="0" step="1"></input></label><p></p>
			<label>總共數量：<input type="number" id="amountAddInput" placeholder="請輸入大於0的整數" min="0" step="1"></input></label>
			<button type="button" onclick="beforeCheck()" class="btn btn-default" id="addNewCouponBtn">新增</button>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">編輯區域</h3>
		</div>
		<div class="panel-body" id="updateCouponArea">
			請選擇資料以編輯。
		</div>
	</div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">末筆成功新增優惠券</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover" id="myTable">
				<thead>
			        <tr>
			          <th>優惠券名稱</th>
			          <th>優惠券資訊</th>
			          <th>相片(imgur後7碼，不含.jpg)</th>
			          <th>價格</th>
			          <th>剩餘數量</th>
			          <th>編輯</th>
			        </tr>
			    </thead>
			    <tbody>
			    </tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://coupon-da649.firebaseio.com/');
		function beforeCheck() {
			if (parseInt($('#priceAddInput').val()) <= 0 || parseInt($('#amountAddInput').val()) <= 0) {
				alert("價格或數量不可小或等於零！");
			}else{
				addNewCoupon();
			}
		}
		function addNewCoupon() {
			var name = $('#nameAddInput').val();
			var information = $('#informationAddInput').val();
			var photo = $('#photoAddInput').val();
			var price = parseInt($('#priceAddInput').val());
			if (price<10) {
				var type = "平價";
			}else if (price < 20) {
				var type = "中等";
			}else if (price >= 20) {
				var type = "豪華";
			}
			var remainingAmount = parseInt($('#amountAddInput').val());
			var newAddCoupon = myFirebaseRef.push({
				"Name": name,
				"Information": information,
				"Photos": {
					"Photo_ID": photo
				},
				"Type": type,
				"Price": price,
				"Remaining_Amount": remainingAmount
			});
			//var newAddMarkId = newAddMark.key();
			alert(name + " 新增成功!");
			$('#nameAddInput').val("");
			$('#informationAddInput').val("");
			$('#photoAddInput').val("");
			$('#priceAddInput').val("");	
			$('#amountAddInput').val("");
		};

		myFirebaseRef.once("value", function(snapshot) {
	  		var childNum = snapshot.numChildren();
  			myFirebaseRef.orderByChild("Name").limitToLast(10).on("child_added", function(snapshot, prevChildKey) {
				var coupon = snapshot.val();
				add_new_data(coupon.Name, coupon.Information, coupon.Photos.Photo_ID, coupon.Price, coupon.Remaining_Amount, snapshot.key());
			});
		});

		function add_new_data(name, information, photos, price, remainingAmount, key) {
			//先取得目前的row數
			var num = document.getElementById("myTable").rows.length;
			//建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
			var Tr = document.getElementById("myTable").insertRow(-1);
			//建立新的td 而Tr.cells.length就是這個tr目前的td數
			Td = Tr.insertCell(Tr.cells.length);
			//而這個就是要填入td中的innerHTML	
			Td.innerHTML=name;
			//這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=information;
			//這樣就好囉 記得td數目要一樣 不然會亂掉~
			Td = Tr.insertCell(Tr.cells.length);
			var photoLink = "http://imgur.com/" + photos;
			Td.innerHTML='<button type="button" class="btn btn-info" onClick="parent.open(' + "'" + photoLink + "'" + ')">圖片</button>';
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=price;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=remainingAmount;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML='<button type="button" class="btn btn-primary" onclick="updateCoupon(' + "'" + key + "'" + ')">編輯</button> <button type="button" class="btn btn-danger" onclick="deleteCoupon(' + "'" + key + "'" + ')">刪除</button>';
		}

		function updateCoupon(key) {
			var newFirebaseRef = new Firebase('https://coupon-da649.firebaseio.com/' + key);
			newFirebaseRef.once("value")
			  .then(function(snapshot) {
			    var name = snapshot.child("Name").val();
			    var information = snapshot.child("Information").val();
			    var photo = snapshot.child("Photos").child("Photo_ID").val();
			    var price = snapshot.child("Price").val();
			    var remainingAmount = snapshot.child("Remaining_Amount").val();
			    document.getElementById("updateCouponArea").innerHTML = '<label>優惠券名稱：<input type="text" id="nameUpdate" value="' + name + '"></label><label>優惠券資訊：<input type="text" id="informationUpdate" value="' + information + '"></label><label>相片(imgur後7碼，不含.jpg)：<input type="text" id="photoUpdate" value="' + photo + '"></label><label>價格：<input type="number" id="priceUpdate" value="' + price + '" min="0" step="1"></label><label>剩餘數量：<input type="number" id="remainingAmountUpdate" value="' + remainingAmount + '" min="0" step="1"></label> <button type="button" class="btn btn-default" onclick="saveUpdatedCoupon(' + "'" + key + "'" + ')">確認編輯</button>';
			  });
		}

		function saveUpdatedCoupon(key){
			var newFirebaseRef = new Firebase('https://coupon-da649.firebaseio.com/' + key);
			var price = $('#priceUpdate').val();
			if (price<10) {
				var type = "平價";
			}else if (price < 20) {
				var type = "中等";
			}else if (price >= 20) {
				var type = "豪華";
			}
			var remainingAmount = parseInt($('#amountAddInput').val());
			newFirebaseRef.update({
				"Name": $('#nameUpdate').val(),
				"Information": $('#informationUpdate').val(),
				"Photos": {
					"Photo_ID": $('#photoUpdate').val()
				},
				"Type": type,
				"Price": price,
				"Remaining_Amount": $('#remainingAmountUpdate').val()
			});
			window.location.reload();
		}

		function deleteCoupon(key) {
			var newFirebaseRef = new Firebase('https://coupon-da649.firebaseio.com/' + key);
			newFirebaseRef.remove();
			window.location.reload();
		}
	</script>
{% endblock %}