{% extends "base.html" %}

{% block title %}樂透管理{% endblock %}

{% block lotteryButton %}
	<li class="active"><a href="/lottery">樂透管理</a></li>
{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">新增團體</h3>
		</div>
		<div class="panel-body">
			<label>期數(開獎日期)：<input type="date" id="periodAddInput"></label>
			<button type="button" class="btn btn-default" onclick="createLottery()">開獎</button>
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">編輯區域</h3>
		</div>
		<div class="panel-body" id="updateLotteryArea">
			請選擇資料以編輯。
		</div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">開獎紀錄</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover" id="myTable">
				<thead>
			        <tr>
			          <th>期數</th>
			          <th>號碼一</th>
			          <th>號碼二</th>
			          <th>號碼三</th>
			          <th>號碼四</th>
			          <th>號碼五</th>
			          <th>編輯</th>
			        </tr>
			    </thead>
			    <tbody>
			    </tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://lottery-72c58.firebaseio.com/');
		Date.prototype.toDateInputValue = (function() {
		    var local = new Date(this);
		    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
		    return local.toJSON().slice(0,10);
		});
		document.getElementById('periodAddInput').value = new Date().toDateInputValue();
		function createLottery() {
			var period = document.getElementById('periodAddInput').value;
			var newAddLottery = myFirebaseRef.push({
				"Period": period,
				"Numbers": {
					"First": Math.floor(Math.random()*(9-0+1)+0),
					"Second": Math.floor(Math.random()*(9-0+1)+0),
					"Third": Math.floor(Math.random()*(9-0+1)+0),
					"Fourth": Math.floor(Math.random()*(9-0+1)+0),
					"Fifth": Math.floor(Math.random()*(9-0+1)+0)
				}
			});
		}

		myFirebaseRef.once("value", function(snapshot) {
	  		var childNum = snapshot.numChildren();
  			myFirebaseRef.orderByChild("Period").limitToLast(10).on("child_added", function(snapshot, prevChildKey) {
				var lottery = snapshot.val();
				add_new_data(lottery.Period, lottery.Numbers.First, lottery.Numbers.Second, lottery.Numbers.Third, lottery.Numbers.Fourth, lottery.Numbers.Fifth, snapshot.key());
			});
		});
		
		function add_new_data(period, first, second, third, fourth, fifth, key) {
			//先取得目前的row數
			var num = document.getElementById("myTable").rows.length;
			//建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
			var Tr = document.getElementById("myTable").insertRow(-1);
			//建立新的td 而Tr.cells.length就是這個tr目前的td數
			Td = Tr.insertCell(Tr.cells.length);
			//而這個就是要填入td中的innerHTML	
			Td.innerHTML=period;
			//這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=first;
			//這樣就好囉 記得td數目要一樣 不然會亂掉~
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=second;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=third;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=fourth;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=fifth;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML='<button type="button" class="btn btn-primary" onclick="updateLottery(' + "'" + key + "'" + ')">編輯</button>';
		}

		function updateLottery(key) {
			var newFirebaseRef = new Firebase('https://lottery-72c58.firebaseio.com/' + key);
			newFirebaseRef.once("value")
			  .then(function(snapshot) {
			    var period = snapshot.child("Period").val();
			    var first = snapshot.child("Numbers").child("First").val();
			    var second = snapshot.child("Numbers").child("Second").val();
			    var third = snapshot.child("Numbers").child("Third").val();
			    var fourth = snapshot.child("Numbers").child("Fourth").val();
			    var fifth = snapshot.child("Numbers").child("Fifth").val();
			    document.getElementById("updateLotteryArea").innerHTML = '<label>期數(開獎日期)：<input type="date" id="periodUpdate" value="' + period + '"></label><label>號碼一：<input type="number" min="0" step="1" max="9" id="firstUpdate" value="' + first + '"></label><label>號碼二：<input type="number" min="0" step="1" max="9" id="secondUpdate" value="' + second + '"></label><label>號碼三：<input type="number" min="0" step="1" max="9" id="thirdUpdate" value="' + third + '"></label><label>號碼四：<input type="number" min="0" step="1" max="9" id="fourthUpdate" value="' + fourth + '"></label><label>號碼五：<input type="number" min="0" step="1" max="9" id="fifthUpdate" value="' + fifth + '"></label> <button type="button" class="btn btn-default" onclick="saveUpdatedLottery(' + "'" + key + "'" + ')">確認編輯</button>';
			  });
		}
		
		function saveUpdatedLottery(key){
			var newFirebaseRef = new Firebase('https://lottery-72c58.firebaseio.com/' + key);
			newFirebaseRef.update({
				"Period": $('#periodUpdate').val(),
				"Numbers": {
					"First": parseInt($('#firstUpdate').val()),
					"Second": parseInt($('#secondUpdate').val()),
					"Third": parseInt($('#thirdUpdate').val()),
					"Fourth": parseInt($('#fourthUpdate').val()),
					"Fifth": parseInt($('#fifthUpdate').val())
				}
			});
			window.location.reload();
		}
	</script>
{% endblock %}