{% extends "base.html" %}

{% block title %}樂透管理{% endblock %}

{% block lotteryButton %}
	<li class="active"><a href="/lottery">樂透管理</a></li>
{% endblock %}
{% block content %}
	<label>期數(開獎日期)：<input type="date" id="periodAddInput"></label>
	<button type="button" class="btn btn-default" onclick="createLottery()">開獎</button>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">最近一次開獎紀錄</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover" id="myTable">
				<thead>
			        <tr>
			          <th>期數</th>
			          <th>號碼一</th>
			          <th>號碼二</th>
			          <th>號碼三</th>
			        </tr>
			    </thead>
			    <tbody>
			    </tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://lottery-72c58.firebaseio.com/');
		Date.prototype.toDateInputValue = (function() {
		    var local = new Date(this);
		    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
		    return local.toJSON().slice(0,10);
		});
		document.getElementById('periodAddInput').value = new Date().toDateInputValue();
		function createLottery() {
			var period = document.getElementById('periodAddInput').value;
			var newAddLottery = myFirebaseRef.push({
				"Period": period,
				"Numbers": {
					"First": Math.floor(Math.random()*(9-0+1)+0),
					"Second": Math.floor(Math.random()*(9-0+1)+0),
					"Third": Math.floor(Math.random()*(9-0+1)+0)
				}
			});
		}
		myFirebaseRef.orderByChild("Period").limitToLast(10).on("child_added", function(snapshot, prevChildKey) {
			var lottery = snapshot.val();
			add_new_data(lottery.Period, lottery.Numbers.First, lottery.Numbers.Second, lottery.Numbers.Third);
			//displayCoupon(lottery.Period, lottery.Numbers.First, lottery.Numbers.Second, lottery.Numbers.Third);
		});
		function add_new_data(period, first, second, third) {
			//先取得目前的row數
			var num = document.getElementById("myTable").rows.length;
			//建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
			var Tr = document.getElementById("myTable").insertRow(-1);
			//建立新的td 而Tr.cells.length就是這個tr目前的td數
			Td = Tr.insertCell(Tr.cells.length);
			//而這個就是要填入td中的innerHTML	
			Td.innerHTML=period;
			//這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=first;
			//這樣就好囉 記得td數目要一樣 不然會亂掉~
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=second;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=third;
		}
		function displayCoupon(period, first, second, third) {
			//document.getElementById("markDiv").innerHTML = "<tr><td>" + title + "</td><td>" + context + "</td><td>" + latitude + "</td><td>" + longitude + "</td></tr>";
			document.getElementById("periodLast").innerHTML = period;
			document.getElementById("firstLast").innerHTML = first;
			document.getElementById("secondLast").innerHTML = second;
			document.getElementById("thirdLast").innerHTML = third;
		}
	</script>
{% endblock %}