{% extends "base.html" %}

{% block title %}愛心碼管理{% endblock %}

{% block lovecodeButton %}
	<li class="active"><a href="/lovecode">愛心碼管理</a></li>
{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">新增團體</h3>
		</div>
		<div class="panel-body">
			<font color="red"><h5>*必填</h5></font>
			<label>*團體名稱：<input type="text" id="titleAddInput"></label>
			<label>*愛心碼：<input type="number" id="codeAddInput" min="0" step="1"></label>
			<button type="button" class="btn btn-default" onclick="createLovecode()">新增</button>
		</div>
	</div>
	<div id="addAlert"></div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">編輯區域</h3>
		</div>
		<div class="panel-body" id="updateLovecodeArea">
			請選擇資料以編輯。
		</div>
	</div>
	<div id="updateAlert"></div>
	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">所有愛心碼</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover" id="myTable">
				<thead>
			        <tr>
			          <th>團體名稱</th>
			          <th>愛心碼</th>
			          <th>編輯</th>
			        </tr>
			    </thead>
			</table>
		</div>
		<div style="text-align:center;" id="pagination"></div>
	</div>
	
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://barcode-29a1e.firebaseio.com/Invoice/');

		function beforecheck(title, code, where) {
			if (title == "" || code == "") {
				document.getElementById(where).innerHTML = '<div class="alert alert-warning alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><strong>警告！</strong>還有未填入的資料喔。</div>';
				return false;
			}else {
				return true;
			}
		}

		function createLovecode() {
			var title = $('#titleAddInput').val();
			var check = beforecheck(title, $('#codeAddInput').val(), "addAlert");
			if (check == true) {
				var code = parseInt($('#codeAddInput').val());
				var newAddLovecode = myFirebaseRef.push({
					"title": title,
					"code": code
				});
				$('#titleAddInput').val("");
				$('#codeAddInput').val("");
			}
		}
		myFirebaseRef.once("value", function(snapshot) {
	  		var childNum = snapshot.numChildren();
	  		var quotient = parseInt(childNum / 10);
	  		var remainder = childNum % 10;
	  		var output = '<nav><ul class="pagination">'
	  		if (quotient != 0) {
	  			for (i = 1; i <= quotient; i++) {
		  			output += '<li><a href="javascript:void(0);" onclick="page(' + i + ')">' + i + '</a></li>';
		  		}
		  		if (remainder != 0) {
		  			output += '<li><a href="javascript:void(0);" onclick="page(' + (quotient+ 1) + ')">' + (quotient + 1) + '</a></li>';
		  		}
	  		}else {
	  			output += '<li><a href="javascript:void(0);" onclick="page(0)">1</a></li>';
	  		}
	  		output += '</ul></nav>';
			document.getElementById("pagination").innerHTML = output;
		});

		myFirebaseRef.orderByChild("title").limitToFirst(10).on("child_added", function(snapshot, prevChildKey) {
			var lovecode = snapshot.val();
			add_new_data(lovecode.title, lovecode.code, snapshot.key());
		});

		function page(quo) {
			document.getElementById("myTable").innerHTML = '<thead><tr><th>團體名稱</th><th>愛心碼</th><th>編輯</th></tr></thead>';
			var count = 0;
			if(quo > 0) {
				myFirebaseRef.orderByChild("title").limitToFirst(quo*10).on("child_added", function(snapshot, prevChildKey) {
					var lovecode = snapshot.val();
					count++;
					if ((count > (quo-1)*10) && (count <= (quo)*10)) {
						add_new_data(lovecode.title, lovecode.code, snapshot.key());
					}
				});
			}
		}

		function add_new_data(title, code, key) {
			//先取得目前的row數
			var num = document.getElementById("myTable").rows.length;
			//建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
			var Tr = document.getElementById("myTable").insertRow(-1);
			//建立新的td 而Tr.cells.length就是這個tr目前的td數
			Td = Tr.insertCell(Tr.cells.length);
			//而這個就是要填入td中的innerHTML	
			Td.innerHTML=title;
			//這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=code;
			//這樣就好囉 記得td數目要一樣 不然會亂掉~
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML='<button type="button" class="btn btn-primary" onclick="updateLovecode(' + "'" + key + "'" + ')">編輯</button> <button type="button" class="btn btn-danger" onclick="deleteLovecode(' + "'" + key + "'" + ')">刪除</button>';
		}

		function updateLovecode(key) {
			var newFirebaseRef = new Firebase('https://barcode-29a1e.firebaseio.com/Invoice/' + key);
			newFirebaseRef.once("value")
			  .then(function(snapshot) {
			    var title = snapshot.child("title").val();
			    var code = snapshot.child("code").val();
			    document.getElementById("updateLovecodeArea").innerHTML = '<font color="red"><h5>*必填</h5></font><label>*團體名稱：<input type="text" id="titleUpdate" value="' + title + '"></label><label>*愛心碼：<input type="number" min="0" step="1" id="codeUpdate" value="' + code + '"></label> 	<button type="button" class="btn btn-default" onclick="saveUpdatedLovecode(' + "'" + key + "'" + ')">確認編輯</button>';
			  });
		}
		
		function saveUpdatedLovecode(key){
			var newFirebaseRef = new Firebase('https://barcode-29a1e.firebaseio.com/Invoice/' + key);
			var title = $('#titleUpdate').val();
			var check = beforecheck(title, $('#codeUpdate').val(), "updateAlert");
			if (check == true) {
				newFirebaseRef.update({
					"title": title,
					"code":  parseInt($('#codeUpdate').val())
				});
				window.location.reload();
			}
		}

		function deleteLovecode(key) {
			var newFirebaseRef = new Firebase('https://barcode-29a1e.firebaseio.com/Invoice/' + key);
			newFirebaseRef.remove();
			window.location.reload();
		}
	</script>
{% endblock %}