{% extends "base.html" %}

{% block title %}會員管理{% endblock %}

{% block memberButton %}
	<li class="active"><a href="/member">會員管理</a></li>
{% endblock %}
{% block content %}
	<button type="button" class="btn btn-default" onclick="createMember()">新增測試會員</button>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">末筆成功新增會員</h3>
		</div>
		<div class="panel-body">
			<table class="table table-hover" id="myTable">
				<thead>
			        <tr>
			          <th>Facebook ID</th>
			          <th>暱稱</th>
			          <th>擁有點數</th>
			          <th>照片</th>
			          <th>預設地區</th>
		       		  <th>編輯</th>
			        </tr>
			    </thead>
			    <tbody>
			    </tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript">
		var myFirebaseRef = new Firebase('https://member-139bd.firebaseio.com/');
		function createMember() {
			var newAddCoupon = myFirebaseRef.push({
				"Facebook_ID": 111111111111111,
				"Birthday": {
					"Month": 12,
					"Day": 12
				},
				"Nickname": "Test",
				"Owned_Points": 100,
				"Owned_Coupons": {
					"Coupon_ID": "-KMhXFTBRXVKTUICgmYg",
					"Information": "Test",
					"Due_Date": 20160725
				},
				"Lottery_Numbers": {
					"Period": 20160722,
					"Numbers": {
						"First": 5,
						"Second": 2,
						"Third": 1
					}
				},
				"Favorite_Vendors": {
					"Vendor_ID": "-KMry4edOHypUOiSS9bj"
				},
				"Photos": {
					"Photo_ID": "UkqwHMT"
				},
				"Default_Zone": 106,
				"Share_Times": 5
			});
		}

		myFirebaseRef.orderByChild("Facebook_ID").limitToLast(10).on("child_added", function(snapshot, prevChildKey) {
			var member = snapshot.val();
			add_new_data(member.Facebook_ID, member.Nickname, member.Owned_Points, member.Photos.Photo_ID, member.Default_Zone, snapshot.key());
		});

		function add_new_data(fb_ID, name, points, photos, zone, key) {
			//先取得目前的row數
			var num = document.getElementById("myTable").rows.length;
			//建立新的tr 因為是從0開始算 所以目前的row數剛好為目前要增加的第幾個tr
			var Tr = document.getElementById("myTable").insertRow(-1);
			//建立新的td 而Tr.cells.length就是這個tr目前的td數
			Td = Tr.insertCell(Tr.cells.length);
			//而這個就是要填入td中的innerHTML	
			Td.innerHTML=fb_ID;
			//這裡也可以用不同的變數來辨別不同的td (我是用同一個比較省事XD)
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=name;
			//這樣就好囉 記得td數目要一樣 不然會亂掉~
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=points;
			Td = Tr.insertCell(Tr.cells.length);
			var photoLink = "http://imgur.com/" + photos;
			Td.innerHTML='<button type="button" class="btn btn-link"><a href="' + photoLink + '">圖片</a></button>';
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML=zone;
			Td = Tr.insertCell(Tr.cells.length);
			Td.innerHTML='<button type="button" class="btn btn-link"><a href="' + key + '">編輯</a></button>';
		}
		function displayCoupon(fb_ID, name, points, photos, zone) {
			//document.getElementById("markDiv").innerHTML = "<tr><td>" + title + "</td><td>" + context + "</td><td>" + latitude + "</td><td>" + longitude + "</td></tr>";
			document.getElementById("idLast").innerHTML = fb_ID;
			document.getElementById("nicknameLast").innerHTML = name;
			document.getElementById("pointsLast").innerHTML = points;
			var photoLink = "http://imgur.com/" + photos;
			document.getElementById("photoLast").innerHTML = "<a href='" + photoLink + "'>圖片</a>";
			document.getElementById("zoneLast").innerHTML = zone;
		}
	</script>
{% endblock %}